
name: Helm

on:
  # https://docs.github.com/en/actions/reference/events-that-trigger-workflows#workflow_dispatch
  workflow_dispatch: 

jobs:
  helm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      DOCKER_PLATFORMS: linux/amd64
      HELM_VERSION: "3.18.3"

    steps:
      - name: Checkout code
        # https://github.com/marketplace/actions/checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./helm
          file: ./helm/Dockerfile
          push: true
          platforms: ${{ env.DOCKER_PLATFORMS }}
          build-args: |
            VERSION=${{ env.HELM_VERSION }}
          tags: |
            ghcr.io/t1mt/helm:${{ env.HELM_VERSION }}
